@charset "UTF-8";

/*
全体共通
-----------------------------------------------------------*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* フォント */
html {
    font-size: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    color: #333333;
}

/* ベースのリンクカラー */
a {
    color: #333;
    text-decoration: none;
}

/* レスポンシブイメージと画像下スペース防止 */
img {
    /* max-width: 100%;
    height: auto; */
    vertical-align: bottom;
    /* 画像下のスペースを消す */
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.upper {
    text-transform: uppercase;
}

body.active {
    overflow-y: hidden;
}

body::before {
    width: 100%;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.6);
}



/*
header
-----------------------------------------------------------*/
.header__container {
    width: 100%;
    height: 100vh;
    padding: 20px 15px 0;
    position: relative;
}


.header__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__left-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 77vw;
    height: calc(100vh - 87px);
    background: url(../img/kv-img.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.header__right-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: 100vh;
    background-color: #222222;
    z-index: -2;
}

.header__logo {
    width: 189px;
    height: 20px;
}



.header__logo__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.header__body {
    color: #fff;
    /* margin-top: 134px; */
    position: relative;
    top: calc(50% - 87px);
    transform: translateY(-50%);
    text-align: right;
}

.header__body__container {
    display: inline-block;
    text-align: left;
}

.header__body__catchTitle {
    font-size: 16px;
}

.catchTitle__txt2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.header__body__catchTxt {
    font-size: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-top: 10px;
}




/*
TAB: header
----------------------*/
@media(min-width: 768px) {

    .header__container {
        padding: 32px 30px 0;
    }

    .header__left-background {
        height: calc(100vh - 134px);
    }

    .header__body {
        margin-right: 7.8vw;
    }



}






/*
PC: header
----------------------*/
@media(min-width: 1046px) {

    .header__container {
        padding: 30px 58px 0;
    }

    .header__left-background {
        height: calc(100vh - 100px);
    }

    .header__right-background {
        width: 54.16vw;
    }


    .header__logo {
        width: 260px;
        height: 28px;
    }

    .header__body {
        margin-right: 9.4vw;
    }

    .header__body__catchTitle {
        font-size: 20px;
    }


    .header__body__catchTxt {
        font-size: 72px;
    }
}



/*
header nonTop
-----------------------------------------------------------*/
.header.nonTop .header__container {
    width: 100%;
    height: 449px;
    padding: 20px 30px 0;
    position: relative;
}

.header.nonTop .header__left-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 77vw;
    height: calc(449px - 62px);
    background: url(../img/kv-img.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.header.nonTop .header__right-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 52.8vw;
    height: 449px;
    background-color: #222222;
    z-index: -2;
}


.header.nonTop .header__body__catchTitle {
    font-size: 52px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 1.65;
}

.header.nonTop .catchTitle__txt2 {
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin-top: 8px;
}

.header__scroll-imgArea {
    width: 15px;
    height: 178px;
    position: absolute;
    left: 12px;
    bottom: 0;
}

.header__scroll-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/*
TAB: header nonTop
----------------------*/
@media(min-width: 768px) {

    .header.nonTop .header__container {
        height: 615px;
    }

    .header.nonTop .header__left-background {
        height: calc(615px - 86px);
    }

    .header.nonTop .header__right-background {
        height: 615px;
    }

    .header.nonTop .header__body {
        margin-right: 13vw;
    }

    .header__scroll-imgArea {
        display: none;
    }
}



/*
PC: header nonTop
----------------------*/
@media(min-width: 1200px) {

    .header.nonTop .header__container {
        height: 464px;
    }

    .header.nonTop .header__left-background {
        height: calc(464px - 77px);
    }

    .header.nonTop .header__right-background {
        height: 464px;
    }

    .header.nonTop .header__body {
        margin-right: 11.8055556vw;
    }

    .header.nonTop .header__body__catchTitle {
        font-size: 72px;
    }

    .header.nonTop .catchTitle__txt2 {
        font-size: 20px;
    }
}






/*
hamburger
-----------------------------------------------------------*/
.hamburger {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    z-index: 991;
}

.hamburger__container {
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 10px;
}

.hamburger__line {
    transition: all .6s;
    width: 100%;
    height: 2px;
    position: absolute;
    border-radius: 2px;
    background-color: #fff;
}

.hamburger__line:nth-last-of-type(1) {
    top: 0;
}

.hamburger__line:nth-last-of-type(2) {
    top: 5px;
}

.hamburger__line:nth-last-of-type(3) {
    top: 10px;
}

/*activeクラスが付与されると線が回転して×に*/

.hamburger__container.active .hamburger__line:nth-of-type(1) {
    top: 0;
    transform: translateY(5px) rotate(-45deg);
    width: 75%;
}

.hamburger__container.active .hamburger__line:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
}

.hamburger__container.active .hamburger__line:nth-of-type(3) {
    top: 5px;
    transform: translateY(0) rotate(45deg);
    width: 75%;
}

.hamburger__container.active .hamburger__line:nth-last-of-type(3)::after {
    transform: translateY(0) rotate(0);
}

.hamburger__txt {
    color: #fff;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}




/*
TAB: hamburger
----------------------*/



/*
PC: hamburger
----------------------*/







/*
gNav
-----------------------------------------------------------*/
.gNav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 990;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    /*ナビの高さ*/
    background: #222222;
    /*動き*/
    transition: all ease-in-out 1.5s;
    overflow-y: scroll;
}

.gNav.active {
    right: 0;
}

.gNav.active .hamburger-demo-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 980;
    background-color: rgba(34, 34, 34, 0.6);
    display: block;
}

.hamburger-demo-cover {
    transition: all 0.6s;
}

.gNav__list {
    text-align: center;
    margin-top: 180px;
}

.gNav__item:first-of-type {
    width: 42px;
    height: 45px;
    margin: 0 auto;
}

.gNav__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
}

.gNav__item:nth-of-type(2) {
    margin-top: 40px;
}

.gNav__item:nth-of-type(3),
.gNav__item:nth-of-type(4),
.gNav__item:nth-of-type(5),
.gNav__item:nth-of-type(6) {
    margin-top: 30px;
}


.gNav__item__txt {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
}



/*
TAB: gNav
----------------------*/






/*
PC: gNav
----------------------*/
@media(min-width: 1200px) {
    .gNav {
        width: 36.1vw;
    }
}





/*
about-us
-----------------------------------------------------------*/
.about-us__container {
    width: 100%;
    max-width: 1100px;
    margin: 78px auto 0;
    padding: 50px 15px;
    background: url(../img/about-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us__body {
    background-color: #fff;
    max-width: 590px;
    padding: 50px 30px;
}

.about-us__body__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
}

.about-us__body__txt {
    margin-top: 30px;
    font-size: 14px;
    line-height: 2;
}

.about-us__body__btnArea {
    margin-top: 30px;
    padding: 10px 48px;
    background-color: #000000;
    display: inline-block;
}

.about-us__body__btn {
    font-size: 11px;
    color: #fff;
}



/*
TAB: about-us
----------------------*/
@media(min-width: 768px) {
    .about-us__container {
        margin-top: 80px;
        padding: 60px 90px;
    }

    .about-us__body {
        padding: 40px 30px;
    }

    .about-us__body__heading {
        font-size: 32px;
    }

    .about-us__body__txt {
        font-size: 16px;
    }
}




/*
PC: about-us
----------------------*/
@media(min-width: 1200px) {
    .about-us__container {
        margin-top: 120px;
        padding: 110px 50px;
    }

    .about-us__body {
        padding: 50px 30px;
    }

    .about-us__body__btnArea {
        padding: 10px 45px;
    }

    .about-us__body__btn {
        font-size: 12px;
    }
}







/*
pages
-----------------------------------------------------------*/
.pages {
    background-color: #F0F0F0;
}

.pages__container {
    padding: 40px 15px;
    max-width: 1100px;
}

.pages__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
    color: #333333;
}


.pages__works__imgArea {
    width: 100%;
    max-width: 520px;
    margin-top: 30px;
}

.pages__works__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.pages__works__txt {
    font-size: 16px;
    margin-top: 27px;
}

.pages__btnArea {
    margin-top: 27px;
    /* display: inline-block; */
}

.pages__btn {
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    background-color: #000000;
    display: inline-block;
}




.pages__culture {
    margin-top: 40px;
}




/*
TAB: pages
----------------------*/
@media(min-width: 768px) {
    .pages__container {
        padding: 60px 3.9vw 40px;
    }

    .pages__heading {
        font-size: 32px;
    }



    .pages__culture {
        margin-top: 80px;
    }
}





/*
PC: pages
----------------------*/
@media(min-width: 1200px) {
    .pages {
        margin-top: -100px;
        position: relative;
        z-index: -10;
    }

    .pages__container {
        padding: 180px 0 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }


    .pages__culture {
        margin-top: 0;
    }
}




/*
topics
-----------------------------------------------------------*/
.topics__container {
    padding: 40px 15px;
    max-width: 1100px;
}

.topics__hading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
}


.topics__wrap {
    margin-top: 29px;
}

.topics__item {
    border-bottom: 1px solid #DDDDDD;
}


.topics__item:first-of-type {
    padding-bottom: 8px;
}


.topics__item:not(:first-of-type) {
    padding: 19px 0 8px;
}

.topics__item__date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.topics__item__body {
    margin-top: 10px;
}

.topics__item__body__txt {
    font-size: 12px;
}




/*
TAB: topics
----------------------*/
@media(min-width: 768px) {
    .topics__container {
        padding: 40px 3.9vw;
    }

    .topics__hading {
        font-size: 32px;
    }

    .topics__item:first-of-type {
        padding-bottom: 10px;
    }


    .topics__item:not(:first-of-type) {
        padding: 29px 0 10px;
    }

    .topics__item__body__txt {
        font-size: 14px;
    }
}






/*
PC: topics
----------------------*/
@media(min-width: 1200px) {
    .topics__container {
        padding: 60px 0;
        margin: 0 auto;
        display: flex;
    }

    .topics__hading {
        margin-right: 113px;
    }

    .topics__wrap {
        margin-top: 68px;
        flex: 1 1 auto;
    }

    .pages__btnArea.topics {
        text-align: right;
    }
}






/*
contact
-----------------------------------------------------------*/
.contact {
    background-color: #F2F2F2;
}

.cotact__container {
    padding: 40px 15px;
    max-width: 1100px;
}

.contact__imgArea {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
}

.contact__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.contact__body {
    margin-top: 30px;
}

.contact__heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 28px;
}

.contact__txt {
    margin-top: 30px;
    font-size: 16px;
    line-height: 2;
}

.pages__btnArea.contact {
    margin-top: 30px;
}




/*
TAB: contact
----------------------*/
@media(min-width: 551px) {
    .cotact__container {
        padding: 40px 30px 80px;
    }

    .contact__imgArea {
        margin: 0;
    }

    .contact__heading {
        font-size: 32px;
    }
}



/*
PC: contact
----------------------*/
@media(min-width: 1200px) {
    .cotact__container {
        padding: 60px 0 120px;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .contact__imgArea {
        max-width: 580px;
    }


    .contact__body {
        margin-top: 0;
        margin-right: 80px;
    }
}



/*
footer
-----------------------------------------------------------*/
.footer {
    background-color: #525252;
}

.footer__container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 10px;
}




/*
TAB: footer
----------------------*/






/*
PC: footer
----------------------*/